/* utilities */
:root {
    --teal: #0ba17b;
    --grayed: #77b5b5;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

/* body styles */
.header-style {
    background-color: var(--teal);
    min-height: 5vh;
    color: whitesmoke;
}

.footer-style {
    background-color: var(--teal);
}

.foot-text-style {
    background-color: whitesmoke;
    color: whitesmoke;
}


/* form */
.form-style {
    background-image: url(https://images.unsplash.com/photo-1658442383587-0ce640ea26f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8anIxWGRvWFBuWWN8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.form-card {
    background-color: var(--grayed);
    justify-content: space-around;
}

.form-button {
    background-color: var(--teal);
    border-radius: 7px;
}

.form-text {
    background-color: rgba(128, 128, 128, 0.75);
    backdrop-filter: 10px;
    color: whitesmoke;
}

/* stats */
@media (min-width: 768px) {
    .stats-style {
        background-color: var(--teal);
        min-height: 35vh;
        position: relative;
        justify-content: start !important;
    }

    .stats-card {
        text-align: center;
        background-color: var(--grayed);
        position: absolute;
        min-height: 35vh;
        bottom: -25px;
        right: 65px;
    }
}

.stats-style {
    background-color: var(--teal);
    min-height: 35vh;
}

.stats-card {
    text-align: center;
    background-color: var(--grayed);
}

.stat-text {
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
}

.stat-card-text {
    background-color: whitesmoke;
    text-align: center;
    padding: 1em;
}

/* cert */
.cert-style {
    min-height: 35vh;
}

.cert-card {
    text-align: center;
    background-color: var(--teal);
}

.cert-image {
    object-fit: cover;
    width: 100%;
}

.cert-card-text {
    background-color: whitesmoke;
    padding: 1em;
}


/* reviews */
.review-style {
    background-color: var(--grayed);
}

.review-card {
    text-align: center;
    min-height: 20vh;
    background-color: whitesmoke;
}

.review-card2 {
    text-align: center;
    min-height: 30vh;
    background-color: whitesmoke;
}

.review-card-text {
    background-color: #77b5b5;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
}