/* utilities */
:root {
    --teal: #0ba17b;
    --grayed: #77b5b5;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}


/* body styles */
.header-style {
    background-color: var(--teal);
    height: 5vh;
    color: whitesmoke;
}

.main-style {}

.footer-style {
    background-color: var(--teal);
    min-height: 10vh;
}


/* form */
.form-style {
    background-image: url(https://images.unsplash.com/photo-1658442383587-0ce640ea26f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8anIxWGRvWFBuWWN8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.form-card {
    background-color: var(--grayed);
}

.form-button {
    background-color: var(--grayed);
    border-radius: 7px;
}

.form-text {
    background-color: rgba(128, 128, 128, 0.499);
}

/* stats */
.stats-style {
    background-color: var(--teal);
    min-height: 35vh;
}

.stats-card {
    text-align: center;
}


/* cert */
.cert-style {
    min-height: 35vh;
}

.cert-card {
    text-align: center;
}

.cert-image {
    object-fit: cover;
    width: 100%;
}


/* reviews */
.review-style {
    background-color: var(--grayed);
}

.review-card {
    text-align: center;
    min-height: 20vh;
}

.review-card2 {
    text-align: center;
    min-height: 30vh;
}